<html>
<head><title>QPO?</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
<script src="<% request.uri_base %>/javascripts/valida.js" type="text/javascript"></script>
 <script type="text/javascript"  src="<% request.uri_base %>/javascripts/dinamicdrop.js"></script>
</head>
<body onload="data(1,0);">
 <div id="header"> <h1 align=center> Quem paga o quê?! </h1> <a href="/login"><img src="/images/home.jpeg"  alt="HOME" padding="none" height="45"></a> 
</div>

<div id="nav">
<form method="post" action="/login">
  Email: <input type="text" name="email" placeholder="Email"><br>
  Password: <input type="password" name="password" placeholder="Password"><br>
  <input type="submit" value="Login" name="op">
</form>
</div>

<h3 align=center>Registo:</h3><br> 
<form align=center method="post" onSubmit="return ValidateEmail();">
  Primeiro nome: <input type="text" name="fname" placeholder="Primeiro Nome">
  Sobrenome: <input type="text" name="lname" placeholder="Sobrenome"><br><br>
  Sexo:<input type="checkbox" name="sex" value="M"checked>M
  <input type="checkbox" name="sex" value="F">F
  <div id="data">
  	Data de nascimento:
  </div>
  Cidade: <input type="text" name="city" placeholder="Cidade"><br>
  E-mail: <input type="text" name="email" id="mail" size="30" placeholder="Email"><br>
  Password: <input type="password" name="password" id="password" placeholder="Password"><br>
  Confirmar Password: <input type="password" id="password2" placeholder="Password"><br>
  
  <input type="checkbox" name="updados" value="update">Sim pretendo receber updates quando o meu saldo for alterado.<br>

  <input type="checkbox" name="alert" value="alert">Sim pretendo receber alertas quando o meu saldo for inferior a 0.<br>
  <input type="submit" value="Registar" name="op"><br>

Já está registado?<br> Faca login <a 
href=/login>já!</a>

</form>
<div id=footer> Copyright Henrique Figueiredo </div>
</body>
</html>
